.business-header {
    height: 400px;
    background: url("../bakeryex.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


p{
  font-family: 'Sansita', sans-serif;
}

h1{
  font-family: "Mrs Saint Delafield", cursive;
	font-size: 150px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 110.4px;
}

h2{
  font-family: "Mrs Saint Delafield", cursive;
	font-size: 75px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 75px;
}

.row{
  padding-bottom: 100px;
}